.leftBar {
    width: 200px;
    height: 100%;
    background-color: #2c3e50;
    position: fixed;
    top: 0px;
    z-index: 10;
    transition: all 0.3s;
    color: #f5f5f5;
    left: 0;
}
.mobMenu {
    display: none;
    font-size: 30px;
    position: absolute;
    right: 8px;
}
.leftBar h5{
    text-transform: uppercase;
    font-weight: 600;
    font-size: .90rem;
    margin: 25px 5px 10px 5px;
    color: #98b3d2;
}

.leftBar h5 a {
    color: #fff !important;
    float: right;
    margin-right: 5px;
    font-weight: normal;
    cursor: pointer;
}

.listItem {
    font-size: 0.75rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

.listItem a, .listItem a:hover {
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
}

.profile {
    padding: 15px;
    border-bottom: 1px solid #415163;
    margin-bottom: 15px;
}

.profilePic {
    font-size: 20px;
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid #07c54c;
    border-radius: 50%;
    padding: 2px 10px;
    color: #5ba5fd;
    margin-right: 5px;
}
.profileText {
    padding: 6px;
}
.noData {
    font-size: .9rem;
    color: #d2d2d2;
    margin-left: 5px;
}

.logout{
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
    background: #5a94d0;
    padding: 5px;
}


@media (max-device-width: 767px) {
    .leftBar {
        left: -160px;
    }
    .mobMenu {
        display: block;
    }

}