.modalOverlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100; 
    cursor: pointer;
    background: rgba(226, 225, 225, 0.8);
}

.displayModal {
  display: block !important;
}

.modalOverlay button[type="submit"] {
    float: right;
}